<!DOCTYPE html>

<html>
   <head>
      <title>Cid Santiago Souza Vieira | Portifolio</title>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
     <div class="container">
        <h1>My Portifolio</h1>
        <hr />
        <h3>Direct link:</h3>
        <ul>
          <li><a href="/timestamp">Timestamp Microservice</a></li>
          <li><a href="/headerparser">Request Header Parser Microservice</a></li>
          <li><a href="/shorturl">URL Shortener Microservice</a></li>
        </ul>
        <div class="footer">
          <p>
            By <a href="https://github.com/CidSantiagoSV">Cid Vieira</a>
          </p>
        </div>
     </div>
  </body>
</html>
